.menu {
    background-color: #800719;
    color: white;
    padding: 10px;
}

.menu nav {
    display: flex;
    justify-content: space-around;
}

.menu a {
    color: white;
    text-decoration: none;
}
.menu button{
  color: white;
  text-decoration: none;
  background-color: #800719
}

.petit_mot {
  padding: 2.5rem;
  text-align: center;
  font-family: "Berlin Sans FB";
  font-size: 1rem;
}

.movie-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

app-movie-item {
  width: calc(33% - 0px); 
  margin-bottom: 0x;
  box-sizing: border-box;
  height: 500px;
  overflow: hidden;
}

app-movie-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


app-movie-item:nth-child(3n) {
  margin-right: 0;
}
.message{
  text-align: center;
  color:#800719;
}




