<div class="movieDetailsContainer">
    <div   class="movieDetails">
      <div class="imageFilm">
        <img class="imageAffcihe" src="./assets/EduQuizLogo.png">
      </div>
      <div class="Desc">
        <p class="title">Mon Profil</p>
       
        <div class="relaeseDate">
          <p class="release">Nom</p>
          <p class="date">{{userName}}</p>
        </div>
        <div class="relaeseDate">
            <p class="release">Email</p>
            <p class="date">{{email}}</p>
          </div>
       
        
      </div>
    </div>
  </div>
  
