<footer  class="pmd-footer mat-elevation-z2">
  <div >
    <div class="row align-items-center">


      
      <div class="follow text-center">
        <h4>Follow Us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>
    </div>
      <div class="footer">
        <div class="site">
          © {{year}} <a href="https://www.emi.ac.ma/" target="_blank"><strong>EMI</strong></a>
        </div>
      </div>
    </div>
  </div>
</footer>
