<!-- ajouter-matiere.component.html -->

<div class="container">
    <div class="login-container">
      <h2>Ajouter une nouvelle matière</h2>
      <form>
        <div class="form-group">
          <label for="name">Nom de la matière:</label>
          <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <textarea id="description" name="description" required></textarea>
        </div>
        <div class="form-group">
          <label for="image">URL de l'image:</label>
          <input type="text" id="image" name="image" required>
        </div>
        <button class="btn-login" type="submit">Ajouter</button>
      </form>
    </div>
  </div>
  